/*Подключение шрифтов*/
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
/*Основные правила*/
html {
    background-color: #f2f2f2;
    height: 100%;
}
body {
    font-family: "PT Sans";
    font-size: 30px;
    line-height: 36px;
    background-color: white;
    color: #000000;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.index {
    flex-grow: 1;
}
.button {
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 36px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    box-sizing: border-box;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Убирает базовый стиль ссылок, и добавляет черный цвет тексту*/
.navigation-list a,
.contacts a,
.pages li:first-child a,
.pages li:nth-last-child(2) a,
.number {
    text-decoration: none;
    color: #000000;
}
/*Убирает базовый стиль списка и обнуляет отступы*/
.navigation-list, .custom-menu,
.advantages-list, .contacts-list,
.features-list, .view-list,
.pages, .hotels, .breadcrumbs,
.contacts-items, .sorting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*Header-шапка сайта*/
.logo {
    display: block;
    margin-right: 28px;
    margin-bottom: -10px;
    margin-left: 70px;
    z-index: 3;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    min-height: 64px;
}
.navigation-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 617px;
    text-transform: capitalize;
    flex-wrap: wrap;
}
.navigation-list a {
    display: block;
    padding: 20px 16px;
    margin: 0;
}

.custom-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 70px;
}
.custom-menu li {
    position: relative;
}
.custom-menu a {
    display: block;
    padding: 10px 13px;
}
.custom-menu li:nth-of-type(2)::after {
    content: "12";
    color: white;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    border-radius: 10px;
    background: #7DB54F;
    padding: 5px 5px 5px 5px;
    position: absolute;
    top: 10px;
    right: 0;
}
.button-want {
    background: #756157;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 8px 34px;
    margin: 0 0 0 20px;
}

/*О Седоне*/
.welcome {
    background-image: url("../images/jpg/index-background.jpg");
    object-fit: cover;
    background-color: #82B3D3;
    background-repeat: no-repeat;
    padding: 51px 0 76px;
}
/* .welcome-image {
    padding: 51px auto 82px;
} */
/* .welcome-vector{
    display: block;
    margin: 0;
} */
/* Преимущества */
.advantages {
    padding-top: 69px;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
}
.advantages-list li:first-child,
.advantages-list li:last-child {
    background: #82B3D3;
    color: white;
    font-weight: 400;
    width: 400px;
    box-sizing: border-box;
    padding: 102px 85px;
}
.advantages-list li:nth-child(4) {
    background: rgba(131, 179, 211, 0.2);
    width: 400px;
    box-sizing: border-box;
    padding: 112px 85px;
}
.advantages-list li:nth-child(2n+1):not(:last-child):not(:first-child) {
    background: rgba(131, 179, 211, 0.12);
    width: 400px;
    box-sizing: border-box;
    padding: 112px 85px;
}
.advantages-list li:nth-child(2) img,
.advantages-list li:nth-child(6) img {
    display: inline-block;
    vertical-align: middle;
}
.advantages .title-text {
    padding-bottom: 69px;
}

/* Услуги */
.features {
    padding-top: 64px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
}
.features-list li {
    width: 400px;
    box-sizing: border-box;
    padding: 81px 85px;
}
.features li:first-child,
.features li:last-child {
    background: rgba(131, 179, 211, 0.12);
}
.features h3 {
    padding: 0;
    margin: 30px 0 30px;
}
.features .title-text {
    margin-bottom: 64px;
}

/*Заголовки и абзацы*/
.title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 620px;
    margin-bottom: 20px;
}
.title-text {
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    font-weight: 400;
    margin: 0 auto;
    max-width: 651px;
}
.subtitle {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 62px;
}
.subtitle-text {
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    margin: 0;
    font-weight: 400;
}

/*Заинтересовались*/
.offer {
    box-sizing: border-box;
    padding: 96px 304px;
}
.offer p, .subscribe p, .subscribe-catalog p {
    margin-bottom: 54px ;
}
.button-offer {
    background: #756157;
    border-radius: 4px;
    padding: 8px 50px;
    margin: 0 auto;
}
/*FOOTER-подвал сайта*/
/*Подпишитесь*/
.subscribe {
    background-image: url("../images/jpg/subscribe_background.jpg");
    background-color: #82B3D3;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 96px;
    padding-bottom: 104px;
}

.form-subscribe {
    display: flex;
    max-width: 684px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.mail {
    border: none;
    background: #F2F2F2;
    border-radius: 4px 0 0 4px;
    padding: 14px 20px;
    margin-right: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    height: 52px;
}
.button-subscribe {
    background: #82B3D3;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
    margin: 0 auto;
}

/* Контакты */
.contacts-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    flex-wrap: wrap;
}
.contacts-items {
    display: flex;
    justify-content: flex-start;
    width: 142px;
    flex-wrap: wrap;
}
.contacts-items li {
    width: 47px;
    height: 40px;
}
.number {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 720px;
}

/*СТРАНИЦА КАТАЛОГА*/
/* Поиск*/
.search {
    background-image: url("../images/jpg/filter_background.jpg");
    background-color: #82B3D3;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-transform: none;
    font-weight: 400;
    overflow: hidden;
    text-align: left;
    padding: 35px 0 70px;
}
/*Стакан для секций - title-search, breadcrumbs, form*/
.container-search {
    width: 1060px;
    margin: 0 auto;
}
.title-search {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px
}
.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    display: flex;
    margin-bottom: 40px;
}
.breadcrumbs>li:not(:last-child) {
    margin-right: 10px;
}
.breadcrumbs a {
    text-decoration: none;
    color: white
}
/* форма поиска*/
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* фильтры слева*/
.filter-left {
    display: flex;
}
.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
    margin: 0;
}
.filter:first-child {
    margin-right: 70px;
}
.filter>label {
    font-size: 18px;
    line-height: 23px;
}
.filter>label:not(:last-child) {
    margin-bottom: 16px;
}
.types-filters {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
    font-weight: 700;
}
/*фильтры справа*/
.filter-right {
    display: flex;
    align-self: flex-end;
}
.filter-price {
    width: 287px;
    margin: 0;
    padding: 0;
    border: none;
    margin-right: 70px;
    display: grid;
    grid-template-columns: repeat(2, 143px);
}
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 32px;
    grid-column: span 2;
}
.price-min, .price-max {
    height: 48px;
    width: 143px;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    border: none;
}
.price-min {
    margin-right: 1px;
    background: #F2F2F2;
    border-radius: 4px 0px 0px 4px;
}
.price-max {
    background: #F2F2F2;
    border-radius: 0px 4px 4px 0px;
}
.price-range {
    grid-column: span 2;
    margin: 0;
    margin-top: 36px;
}
.buttons-right {
    width: 191px;
}
/* кнопка "Применить"*/
.button-filter {
    background: #82B3D3;
    border-radius: 4px;
    padding: 8px 50px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
    margin-top: 56px;
}
/* кнопка "Сбросить"*/
.button-reset {
    padding: 8px 57px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
}

/*Стакан для секций - sorting, all-hotels, pages*/
.container {
    width: 1060px;
    margin: 0 auto;
    padding-top: 50px;
}
.sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.title-sorting {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}
.sorting select {
    width: 292px;
    height: 49px;
    padding: 14px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}
/* Сортировка */
.view-list {
    display: flex;
    flex-wrap: wrap;
}
.view-item {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}
.button-icon {
    background-color: white;
    padding: 0;
    width: 44px;
    height: 44px;
}
.view-list li:nth-child(1) {
    border: 2px solid #000000;
}
.view-list li:not(:last-child) {
    margin-right: 8px;
}

/* КАРТОЧКИ ГОСТИНИЦ */
.all-hotels {
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 80px;
}
.hotels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
}
.hotel-card {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 212px 1fr;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    grid-auto-flow: dense;
    padding: 19px;
    row-gap: 16px;
    column-gap: 20px;
    box-sizing: border-box;
}
.hotel-image {
    grid-column: span 2;
}
.hotel-name {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    padding-left: 20px;
    grid-column: span 2;
    width: 300px;
    margin: 0;
    padding: 0;
}
.hotel-type {
    width: 140px;
    text-align: left;
}
.hotel-price {
    width: 140px;
    text-align: right;
}
.button-detail {
    background: #756157;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 26px;
    margin: 0 auto;
    height: min-content;
}
.button-favorite {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding: 8px 20px;
    background: #82B3D3;
    border-radius: 4px;
    height: min-content;
}
.hotel-rating {
    width: 140px;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 9px 0 8px;
    background: #F2F2F2;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    height: min-content;
}
.hotel-stars {
    line-height: 20px;
    text-align: left;
}

/* Номера страниц */
.pages {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
    flex-wrap: wrap;
}
.pages li {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
}
.pages li:not(:last-child) {
    margin-right: 8px;
}
.pages a {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 0;
    font-weight: 700;
    color: #FFFFFF;
    background: #82B3D3;
    text-decoration: none;
}
.pages li:first-child a {
    background: #F2F2F2;
}
.pages li:nth-last-child(2) a {
    padding: 12px 22px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    background-color: white;
}

/*footer-подвал каталога*/
.subscribe-catalog {
    background-color: white;
    padding: 96px 0 104px;
}
